# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\code\IDEA_workplace\SrpingMvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
